.glass {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;

  &-red {
    background: linear-gradient(rgba(234, 20, 20, 0.11), #641111);
  }
}