{% extends 'base.html.twig' %}

{% block title %}Publications{% endblock %}
{% block body %}
    <main>
        <div id="publication-container">
            <ul>
                {% for publication in publications %}
                    <li class="x">
                        <a href="{{ path('app_publication_show', {'id': publication.id}) }}">
                            {{ publication.titre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
