<main>
    <div class="title-container">
        <h1>Règlement général sur la protection des données</h1>
    </div>
    <div class="title-container">
        <h3>Données personnelles</h3>
    </div>
    <div class="loi-content-container">
        <p>Conformément à la réglementation en vigueur concernant
            le Règlement général sur la protection des données, nous informons les utilisateurs
            que par leur enregistrement sur le site internet, ils permettent la manipulation de
            certaines de leurs informations à des fins purement techniques.
        </p>
        <p>Ces informations concernent de manière exhaustive :</p>
        <ul>
            <li><p>Nom</p></li>
            <li><p>Prenom</p></li>
            <li><p>Email</p></li>
            <li><p>Téléphone</p></li>
        </ul>
        <p>L'utilisateur est par ailleurs averti qu'il peut, dès l'instant où il le souhaite,
            se rétracter quant à l'utilisation de telles données. Ainis, il peut les supprimer définitivement
            depuis son espace personnel.</p>
    </div>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h3>A) Nom et prénom</h3>
                <p>Le développeur s'engage à ne jamais divulger à des services tiers
                    la moindre information quant à l'identité d'un utilisateur. Par ailleurs,
                    l'utilisateur est informé de son droit à consulter à chaque instant les
                    informations détenues à son égard.</p>
            </div>
            <div class="swiper-slide">
                <h3>B) Email</h3>
                <p>Le développeur s'engage à ne jamais utiliser les adresses numériques en
                    sa possession à des fins litigieuses, illicites, ou tout simplement
                    non consenties.</p>
            </div>
            <div class="swiper-slide">
                <h3>B) Téléphone</h3>
                <p>Le développeur s'engage à ne jamais utiliser les numéros personnels en
                    sa possession à des fins litigieuses, illicites, ou tout simplement
                    non consenties.</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
</main>