.data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 320px) and (max-width: 991px) {
    width: 300px;
    margin: 0 auto;
    flex-direction: column;
  }
  @media (min-width: 991px) and (max-width: 1499px) {
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
  }

  .button-container {
    display: flex;
    align-items: center;

  }
}