a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;

  @media (min-width: 991px) {
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width .2s ease;
    }

    &:hover::before {
      width: 100%;
      transition: width .2s ease;
    }
  }
}

.anchor-nav {
  @media (min-width: 320px) and (max-width: 991px) {
    font-size: 30px;
    letter-spacing: 2px;
  }
  @media (min-width: 991px) and (max-width: 1499px) {
    font-size: 30px;
    letter-spacing: 2px;
  }
  @media (min-width: 1499px) and (max-width: 3080px) {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

table {
  color: white;
}