input {
  border: 0;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid white;
  transition: .3s ease;
  color: white;
  @media (min-width: 320px) and (max-width: 991px) {
    min-width: 200px;
    font-size: 24px;
  }
  @media (min-width: 991px) and (max-width: 1499px) {
    min-width: 250px;
    font-size: 34px;
  }
  @media (min-width: 1499px) and (max-width: 3080px) {
    min-width: 250px;
    font-size: 44px;
  }

  &:active {
    padding: 3px;
    transition: .3s ease;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.41);
  }

  &:focus {
    padding: 3px;
    transition: .3s ease;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.41);
    box-shadow: 0 0 15px black;
  }
}