input {
  border: 0;
  padding: 0;
  border-bottom: 1px solid black;
  transition: .3s ease;
  @media (min-width: 320px) and (max-width: 991px) {
    min-width: 200px;
    font-size: 24px;
  }
  @media (min-width: 991px) and (max-width: 1499px) {
    min-width: 250px;
    font-size: 34px;
  }
  @media (min-width: 1499px) and (max-width: 3080px) {
    min-width: 250px;
    font-size: 44px;
  }

  &:active {
    border: 0 !important;
    outline: 1px solid black !important;
    padding: 3px;
    border-bottom: 1px solid red;
    transition: .3s ease;
    border-radius: 7px;
  }

  &:focus {
    border: 0 !important;
    outline: 1px solid black !important;
    padding: 3px;
    border-bottom: 1px solid red;
    transition: .3s ease;
    border-radius: 7px;
  }
}