label {
  @media (min-width: 320px) and (max-width: 991px) {
    letter-spacing: 4px;
    margin: 15px auto;
  }

  @media (min-width: 991px) and (max-width: 1499px) {
    letter-spacing: 14px;
    margin: 30px auto;
    font-size: 34px;
  }
  @media (min-width: 1499px) and (max-width: 3080px) {
    letter-spacing: 24px;
    margin: 30px auto;
    font-size: 44px;
  }
}